<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <%- include('../partials/head') %>
    <%- include('../partials/header') %>
</head>

<header>
   
</header>

<body>
   
    <section class="bg-light p-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 mx-auto text-center">
              <h1 class="section-heading text-black">Manage the The Nursing Home</h1>
              <hr class="light my-4">
              <a href="/floor"><button class="btn btn-info p-2 m-1">Floor</button></a><br><br>
              <a href="/room"><button class="btn btn-info p-2 m-1">Room</button></a><br><br>
              <a href="/resident"><button class="btn btn-info p-2 m-1">Resident</button></a><br><br>
            </div>
          </div>
        </div>
      </section>
   
</body>
</html>